body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


form{
  display: flex;
  flex-direction: column;
}

h1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.error{
  margin-top: 20px;
}

.error:empty{
  display: none;
}

.submit{
  align-self: flex-end;
}

.new-ticket{
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
}